/* Header */
.header {
  padding: 15px 40px;
  padding-bottom: 0;
  vertical-align: middle;
}

.header > div:first-child {
}

.header .logo {
  height: 85%;
  display: inline-block;
}
.header .title {
  font-size: 30px;
  font-weight: normal;
  color: #000000;
  padding-left: 20px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.header div:first-child {
  text-align: left;
}

.user {
  text-align: right;
  height: 100%;
  margin-top: 25px;
  text-align: left;
  padding: 0 !important;
  vertical-align: middle;
}

.user .avatar {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.user div.userinfos {
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: bold;
  width: 50%;
  /* margin: 5px 0 0 5px; */
}

.user div.userinfos:hover + .logout {
  display: block;
}
.user div.userinfos + .logout {
  display: none;
}

.user .logout:hover {
  display: block !important;

}

.user .logout {
  background: #ddd;
  text-align: center;
  color: #000;
  margin-top: -11px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
}
.user div.userinfos > .name:hover, .user div.userinfos > .role:hover {
  cursor: pointer;
}

.user .name {
  color: #000000;
  display: inline-block;
  width: 100%;
}

.user .role {
  color: #379956;
  display: inline-block;
  width: 100%;
}

.user .notif {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin: 15px 0 0 3px;
}
.user .notif_badge {
  background: red;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  padding: 0 3px;
  font-size: 10px;
}

.user .login-btn {
  margin-top: 10px;
}

/* Custom Menu Item */
::ng-deep .ui-menubar {
  text-align: right;
  /* margin-top: 15px; */
}

::ng-deep .ui-menuitem {
  text-align: center;
  min-width: 100px;
}

::ng-deep .ui-menubar {
  border: none !important;
}

::ng-deep .customItem {
}

::ng-deep .customItem:hover {
  background: none !important;
}

::ng-deep .customItem .ui-menuitem-icon {
  font-size: 30px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #000000;
  padding: none !important;
  margin: none !important;
}

::ng-deep .customItem .ui-menuitem-text {
  display: block;
}

::ng-deep .customItem:hover .ui-menuitem-text,
::ng-deep .customItem:hover .ui-menuitem-icon {
  color: #379956 !important;
}
