<div class="p-grid header">
    <div class="p-col-4">
        <img class="logo" src="assets/images/logo.png"/>
        <span class="title">Force Covid-19 SN</span>
    </div>
    <div class="p-col-6" styl>
        <p-menubar [model]="items">
            
        </p-menubar>
    </div>
    <div class="p-col-2 user">
        <img class="avatar" src="assets/images/avatar.png"/>
        <div class="userinfos">
            <span class="name">Ibrahima Ndiaye</span>
            <span class="role">Administrateur</span>
        </div>
        <a class="notif pi pi-bell" href="#"><span class="notif_badge">3</span></a>
    </div>
</div>




