<div class="p-grid header">
  <div class="p-col-4">
    <img class="logo" width="220" src="assets/icons/Logo-ForceCovid19-extended.svg" />
  </div>
  <div class="p-col-6" styl>
    <p-menubar [model]="items"> </p-menubar>
  </div>
  <div class="p-col-2 user">
      <div *ngIf="user != null; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
          <img class="avatar" src="assets/images/avatar.png" />
          <div class="userinfos">
            <div *ngIf="user.firstName !== undefined && user.lastName !== undefined; then firstAndLastName else adminName"></div>
            <ng-template #firstAndLastName><span class="name">{{ user.firstName + ' ' + user.lastName}}</span></ng-template>
            <ng-template #adminName><span class="name">{{ user.username}}</span></ng-template>
            <span class="role">{{ user.type }}</span>
            <span class="ui-submenu-icon pi pi-fw pi-caret-down"></span>
          </div>
          <a class="logout" href="#" (click)="logout()" hidden>
            <span class="ui-menuitem-icon pi pi-unlock" >Déconnexion</span>
          </a>
          <a class="notif pi pi-bell" href="#"><span class="notif_badge">3</span></a>
      </ng-template>
      <ng-template #elseBlock> 
          <button pButton type="button" icon="pi pi-lock" (click)="redirectToLogin()" label="Me connecter" class="login-btn bgColor-primary ui-button-raised"></button>
      </ng-template>
  </div>
</div>