<div class="p-grid p-justify-center">
  <div class="p-col-4">
    <h3 class="page-title-small">Login</h3>
    <h1>{{message}}</h1>
    <form *ngIf="user" name="form" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
      <div class="ui-g ui-fluid">
        <div class="p-col p-col-align-center">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input [(ngModel)]="user.username" name="email" id="email" type="text" pInputText placeholder="Login">
          </div>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="p-col p-col-align-center">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input [(ngModel)]="user.password" name="password" id="password" type="password" pInputText
              placeholder="mot de passe">
          </div>
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="p-col p-col-align-center">
          <div class="ui-inputgroup">
            <button pButton type="submit" label="Connexion" class="ui-button-rounded"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>