<form (ngSubmit)="onSubmit()" class="form-wrapper">
    <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="form-label" for="">Adresse</label>
        <input class="form-input" [(ngModel)]="distributeur.address" type="text" name="address">
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="form-label" for="">Zone geographique</label>
        <input class="form-input" [(ngModel)]="distributeur.geographicalArea" type="text" name="geographicalArea">
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="form-label" for="">Capacité de stockage</label>
        <input class="form-input" [(ngModel)]="distributeur.storageCapacity" type="text" name="storageCapacity">
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <label class="form-label" for="">Latitude</label>
        <input class="form-input" [(ngModel)]="distributeur.latitude" type="text" name="latitude">
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Longitude</label>
        <input class="form-input" [(ngModel)]="distributeur.longitude" type="text" name="longitude">
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Manager</label>
        <input class="form-input" [(ngModel)]="distributeur.manager" type="text" name="manager">
      </div>
      <!-- <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Adresse</label>
        <input class="form-input" type="text" formControlName="firstname">
      </div>
      <div class="p-col-12 p-md-6 p-lg-4">
        <label class="form-label" for="">Coordonnées GPS</label>
        <input class="form-input" type="text" formControlName="firstname">
      </div>
      <div class="p-col-12">
        <p-checkbox name="groupname" value="val1" formControlName="firstname" label="Activez la géolocalisation">
        </p-checkbox>
      </div> -->
      <div class="p-col-12 txt-align-center">
        <button type="submit" class="button bgColor-secondary">Enregistrer</button>
      </div>
    </div>
  </form>