/* You can add global styles to this file, and also import other style files */
:root {
  --force-covid19-primary-color: #379956;
  --force-covid19-secondary-color: #ef255f;
  --force-covid19-tertiary-color: #ffc85b;
  --force-covid19-primary-textColor: #000;
  --colors-textColor: #000;
  --colors-green: #379956;
  --colors-red: #ef255f;
  --colors-yellow: #ffc85b;
  --colors-teal-light: #b8e1dd;
  --colors-teal-brght: #49beb7;

  --xs-viewport: 416px;
  --sm-viewport: 672px;
  --md-viewport: 880px;
  --lg-viewport: 1196px;

  --spacing-content-padding-xs: 8px;
  --spacing-content-padding-sm: 12px;
  --spacing-content-padding-md: 16px;
  --spacing-content-padding-lg: 24px;
  --spacing-content-padding-xl: 32px;
}

/* exemple
  .home-button {
      background-color: var(--force-covid19-primary-color);
  }
  */

html,
body {
  height: 100%;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  font-feature-settings: "calt", "clig", "kern", "liga", "locl", "rlig";
  color: var(--force-covid19-primary-textColor);
  font-size: 1rem;
}

.ui-widget {
  font-family: inherit !important;
}

/* COLORS */

.color-primary {
  color: var(--force-covid19-primary-color);
}

.color-secondary {
  color: var(--force-covid19-secondary-color);
}

.color-tertiary {
  color: var(--force-covid19-tertiary-color);
}

.color-white {
  color: white;
}

.bgColor-teal-light {
  background-color: var(--colors-teal-light);
  color: var(--colors-textColor);
}

.bgColor-primary {
  background-color: var(--colors-green) !important;
  color: white !important;
}

.bgColor-secondary {
  background-color: var(--colors-red) !important;
  color: white !important;
}

.bgColor-yellow{
  background-color: var(--colors-yellow) !important;
}

.button.bgColor-yellow{
  color: #fff;
}

/* Page Sections*/
.page-section:not(.hero) {
  padding: 50px;
  padding-bottom: 0;
  margin-bottom: 4px;
}

.hero.home {
  position: relative;
  margin-bottom: 50px;
}

.hero-content h1 {
  z-index: 999;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 292px;
  display: flex;
  justify-content: flex-end;
}

.hero-image img{
  height: 292px;
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  justify-content: space-between;
  flex: 0 1 auto;
}

.grid-row.align-end {
  align-items: flex-end;
}

.grid-column {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.grid-column.column-2 {
}

.page-section-title {
  font-size: 2rem;
}

thead tr th {
  background-color: #d8d8d8 !important;
  height: 45px;
}
tbody tr td {
  background-color: #eee !important;
}

body .ui-table .ui-table-tbody > tr.ui-state-highlight td {
  background-color: var(--colors-yellow) !important;
  color: #ffffff;
}
body .ui-table .ui-table-caption{
  background-color: transparent;
  border: 0;
  position: relative;
}

body .ui-table .ui-table-caption .pi{
  position: absolute;
  right: 20px;
  top: 20px;
}

input{
  height: 50px;
  border: 2px solid #979797 !important;
  border-radius: 4px !important;
}

.page-section-paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
}

.page-actions{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form-filter{
  display: flex;
  align-items: flex-end;
}

.form-filter .form-group{
  margin-right: 20px;
}

body .ui-dropdown{
  height: 50px;
  border: 2px solid #000;
  width: 220px;
}
body .ui-dropdown .ui-dropdown-label{
  padding-top: 15px;
}

.form-group .form-label{
  font-weight: bold;
  margin-bottom: 5px;
}

@media (min-width: 62rem) {
  .grid-column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-column.column-1\/2 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-column.column-1\/3 {
    flex-basis: 33.3333%;
    max-width: 33.3333%;
  }

  .grid-row.spaced > .grid-column.column-1\/3 {
    flex-basis: 32%;
    max-width: 32%;
  }

  .grid-column.column-1\/4 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .grid-column.column-3\/4 {
    flex-basis: 75%;
    max-width: 75%;
  }
}

@media (min-width: var(--md-viewport)) {
  .grid-column.column-1\/3 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .grid-column.column-1\/4 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 42rem) {
  .grid-column {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.page-section-card {
  padding-left: var(--spacing-content-padding-sm);
  padding-right: var(--spacing-content-padding-sm);
  padding-top: var(--spacing-content-padding-sm);
  padding-bottom: var(--spacing-content-padding-sm);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 6px;
}

.page-section-cardImage {
  width: 70%;
  border-radius: 30px;
  overflow: hidden;
}

.page-section-cardImage > img {
  height: auto;
  width: inherit;
}

.page-section-cardContent {
  padding: calc(var(--spacing-content-padding-lg) / 2);
}

.page-section-cardContent > p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.page-section-cardFooter {
  padding: var(--spacing-content-padding-sm);
}

.page-section.first {
  padding-top: 0;
}

@media (min-width: var(--xs-medium)) {
  .page-section-card {
    padding-left: var(--spacing-content-padding-lg);
    padding-right: var(--spacing-content-padding-lg);
    padding-top: var(--spacing-content-padding-lg);
    padding-bottom: var(--spacing-content-padding-lg);
  }
}

.button {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 4px;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  padding: 0.68rem 1.5rem;
  font-size: 1rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.025rem;
  height: 50px;
}

.hero-content {
  padding: 2rem;
  height: 170px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--force-covid19-tertiary-color);
  background-position: center center;
  max-width: 100vw;
}

.hero-content h1 {
  font-size: 2rem;
  margin: 0;
  line-height: 1.4;
}

@media (min-width: 62rem) {
  .hero-content {
    padding: 1rem 3rem;
    height: 292px;
    max-width: 60vw;
  }

  .hero-content h1 {
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.4;
  }
}

.spacer-xy {
  margin: var(--spacing-content-padding-lg) 0;
}
/* Datatable Style */

form.filter label {
  font-size: 18px;
  font-weight: bold;
}

form.filter select {
  width: 220px;
  height: 50px;
  border: solid 1.5px #000000;
  background: white;
}

.table_actions {
  font-size: 20px;
  text-align: center;
}

.table_actions a {
  padding: 0 5px;
}

.table_actions .show {
  color: blue;
}
.table_actions .edit {
  color: green;
}
.table_actions .delete {
  color: red;
}

.form-wrapper {
  border: solid 1px #979797;
  border-radius: 12px;
  padding: 2rem;
}

.form-input {
  width: 100%;
  height: 35px;
  border: solid 1px #000000;
  font-size: 18px;
  padding: 0 8px;
}

.form-label {
  font-size: 16px;
  color: #000000;
  padding: 5px 0;
  display: block;
}

.txt-align-center {
  text-align: center;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover {
  background-color: #379956;
  border-color: #379956;
}

.txt-bold {
  font-weight: bold;
}
