<section class="page-section hero home container">
  <div class="hero-content">
    <h1>Aide à la distribution de vivres aux familles démunies</h1>
  </div>
</section>

<section class="page-section">
  <div class="search-block">
    <input
      id="input"
      type="text"
      size="420"
      pInputText
      placeholder="Rechercher"
    />
  </div>
  <div class="grid-row align-end">
    <div class="grid-column column-1/2">
      <div class="page-section-paragraph">
        <h2 class="page-section-title color-primary">Qui sommes-nous</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit In voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div class="grid-column column-1/2">
      <div class="page-section-paragraph">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
          nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit In voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="grid-row page-actions">
    <div class="grid-column column-1/4">
      <h2 class="color-primary">
        Vous voulez participer à la lutte et à l’élan de solidarité ?
      </h2>
    </div>
    <div class="grid-column column-3/4">
      <div class="grid-row spaced">
        <div class="grid-column column-1/3 page-section-card bgColor-teal-light">
          <div class="page-section-cardImage">
            <img src="/assets/images/rejoindre-equipe.png" alt="travail-en-equipe" />
          </div>
          <div class="page-section-cardContent">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore.
            </p>
          </div>
          <div class="page-section-cardFooter">
            <button type="button" class="button bgColor-primary">
              Rejoindre l'équipe
            </button>
          </div>
        </div>
        <div class="grid-column column-1/3 page-section-card bgColor-teal-light">
          <div class="page-section-cardImage">
            <img src="/assets/images/don-argent.png" alt="travail-en-equipe" />
          </div>
          <div class="page-section-cardContent">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore.
            </p>
          </div>
          <div class="page-section-cardFooter">
            <button type="button" class="button bgColor-primary">
              Faire un don en produits
            </button>
          </div>
        </div>
        <div class="grid-column column-1/3 page-section-card bgColor-teal-light">
          <div class="page-section-cardImage">
            <img src="/assets/images/don-produit.png" alt="travail-en-equipe" />
          </div>
          <div class="page-section-cardContent">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore.
            </p>
          </div>
          <div class="page-section-cardFooter">
            <button type="button" class="button bgColor-primary">
              Faire un don en argent
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
